body {
    background-color: black;
    color: white;
}

header {
    text-align: center;

}

h1 {

}

p {

}

main {
    display: flex;
    flex-direction: column;
    border-color: black;
    justify-content: center;
}

.points-lives {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto 0;
}

.points {
    display: flex;
}

.score {
    text-align: right;
    margin: 5px 20px 5px 0;
}

.lives {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: red;
}

.fas {
    align-content: center;
    margin: auto 0;
    color: red;
    padding: 5px;
}

.empty {
    color: black;
}

.letters-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

}

.letter {
    background: yellow;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    margin: 2px 5px;
    color: black;

}

.answers-container {
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.submit-container {
    padding: 50px 50px;
    display: flex;
    justify-content: center;

}

.guess-box {
    font-size: 20px;
    padding: 1px 5px;
}

.submit-button {
    background-color: lime;
    margin: 0 0 0 5px;
}

.new-game {
    background-color: blue;
    height: 20px;
    width: 100px;
    margin: auto;
    text-align: center;
    padding: 2% 5%;
}

.wrong {
    color: red;
}