/* background svg from vecteezy and instructions for how to use svgs from https://css-tricks.com/lodge/svg/06-using-svg-svg-background-image/ */

body {
    background-image: url("Ocean_background/Deep Ocean Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #037091;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
}

header {
    text-align: center;
    height: 20vh;

}

h1 {

}

p {

}

main {
    display: flex;
    flex-direction: column;
    border-color: black;
    justify-content: flex-start;
}

.points-lives {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    max-height: 50px;

}

.container {
    text-align: center;
}

.points {
    background-image: url('vectors/shell.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 75px;
    text-align: center;
    padding: 15px;
}

.lives {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: stretch;
    margin: auto 0;
}

.fas {
    align-content: center;
    margin: auto 0;
    color: purple;
    padding: 5px;
}

.empty {
    color: black;
}

.new-game {
    height: 50%;
    width: 100px;
    margin: auto 0 auto auto;
    text-align: center;
    padding: auto;
    font-size: 20px;
    background-color: rgba(38, 206, 232, 0.57);
}

.letters-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
    min-height: 100px;
}

.letter {
    background-image: url("vectors/jellyfish.svg");
    background-size: cover;
    color: black;
    align-content: center;
    margin: 5px 5px;
    padding: 10px 15px 20px 15px;
    width: 20px;
    height: 40px;
    font-size: 20px;
}

.answers-container {
    height: 45vh;
    padding: 0 1%;
    display: flex;
    flex-direction: row;

}

.fish-boy {
    width: 25%;
}

.answers-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: normal;
    height: 0;
    max-height: 100%;
}

.words {
    background: #f3f934;
    box-shadow: 5px 5px #586d8e;
    border-radius: 30%;
    margin: 2px; 
    height: 20px;
    padding: 5px;
}

.answer-history {
    columns: 3;
    text-decoration: none;
}

.submit-container {
    display: flex;
    justify-content: center;
}

.guess-box {
    font-size: 20px;
    padding: 1px 5px;
}

.submit-button {
    background-color: lime;
    margin: 0 0 0 5px;
}



.wrong {
    color: red;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 1;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-image: url('vectors/gameOver.svg');
    background-repeat: no-repeat;
    background-color: midnightblue;
    background-position: center;
    background-size: contain; 

}

/*get popup to cover full page: https://stackoverflow.com/questions/3250790/making-a-div-that-covers-the-entire-page */