/* background svg from vecteezy and instructions for how to use svgs from https://css-tricks.com/lodge/svg/06-using-svg-svg-background-image/ */

body {
    background-image: url("Ocean_background/Deep Ocean Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #037091;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
}

header {
    text-align: center;
    height: 15%;

}

h1 {

}

p {

}

main {
    display: flex;
    flex-direction: column;
    border-color: black;
    justify-content: center;
    align-items: stretch;
}

.points-lives {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto 0;
}

.points {
    background-image: url('shell.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
}

.shell {
    background-image: url("pearl.svg")
}



.lives {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: red;
}

.fas {
    align-content: center;
    margin: auto 0;
    color: purple;
    padding: 5px;
}

.empty {
    color: black;
}

.letters-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
}

.letter {
    background-image: url("jellyfish.svg");
    background-size: cover;
    color: black;
    align-content: center;
    margin: 5px 5px;
    padding: 10px 15px 20px 15px;
    width: 20px;
    height: 40px;
    font-size: 20px;
}

.answers-container {
    height: 10%;
    margin: 5%;
    background-color: blue;
    padding: 0 1%;
}

.answer-history {
    columns: 3;
    text-decoration: none;
}

.submit-container {
    padding: 50px 50px;
    display: flex;
    justify-content: center;
}

.guess-box {
    font-size: 20px;
    padding: 1px 5px;
}

.submit-button {
    background-color: lime;
    margin: 0 0 0 5px;
}

.new-game {
    background-color: blue;
    height: 20px;
    width: 100px;
    margin: 0% auto;
    text-align: center;
    padding: 2% 5%;
}

.wrong {
    color: red;
}

.popup {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    background: white;
    color: red;
    z-index: 1;
    bottom: 55%;
    left: 37.5%;
    text-align: center;
    border-radius: 10%;
    padding: 5%;
}